@import "../../base";
.skills, .contact {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    box-shadow: 0px 6px 50px rgba(0, 139, 185, 0.17);
    border-radius: 50px !important;
    padding: 50px 0px;
    margin-top: 60px;


    @media (max-width: $width_mobile){ 
        border-radius: 20px!important;
    }
    
    .dot {
        border-radius: 50%;
        background: linear-gradient(180deg, #003377 -50%, #00FFFF 166.67%);
        box-shadow: 0px 4px 4px rgba(153, 153, 153, 0.15);
        width: 30px;
        height: 30px;
        margin: 20px;

        @media (max-width: $width_mobile){
            margin: 15px;
            width: 24px;
            height: 24px;
        }
    }

    .legend {
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-bottom: 20px;

        .dot {
            width: 13px;
            height: 13px;
            margin: 0;
            margin-right: 08px;
            @media (max-width: $width_mobile){ 
                width: 8px;
                height: 8px;
            }
        }
    }

    .card-title {
        font-family: 'Nunito';
        font-weight: 700 !important;
        font-size: 34px !important;
        line-height: 46px;
        text-align: center;

        background: linear-gradient(180deg, #003377 -28.26%, #00FFFF 139.13%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 20px;
    }

    .center {
        display: flex;
        align-items: center;


        span {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 200;
            font-size: 24px;
            line-height: 33px;
            color: #406B79;

            @media (max-width: $width_mobile){ 
                font-size: 18px;
            }
        }
    }
}