@import "../../base";
@import "../About/index";


.container-content {
  padding: 50px 65px 150px 50px;

  .col {
    display: flex;
    justify-content: center;
  }
}

.project {
  width: 70%;
  margin-bottom: 20px;
  background-color: $background-color!important;

  .container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    img {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }


  .card-footer {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .badge {
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .card-text {
    text-align: justify;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  @media (max-width: $width_mobile) {
    .container-img {
      height: 150px;
    }

    .card-text {
      font-size: 12px;
    }
  }
}

@media (max-width: $width_mobile) {
  .container-content {
    padding:  50px 2px 160px 2px!important
  }
  .project {
    margin-top: 35px;
  }
  .row {
    margin: 5px 0;
  }
}
