@import "../../base";
@import "../About/index";


.container-content {
  padding: 50px 65px 150px 50px;

  .col {
    display: flex;
    justify-content: center;
  }
}
.tag-filter {

  display: flex;
      justify-content: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;


  .tag {
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 20px;

    &:hover {
      background-color: darken($background-color, 10%);
    }
  }
}  

.project {
  width: 70%;
  margin-bottom: 20px;
  background-color: $background-color!important;

  .container-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    iframe {
      width: 100%;
      max-width: 600px;
      height: 300px;
      border: none;
    }
  }



  .container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    img {
      height: 400px;
      width: 400px;
      object-fit: contain;
    }
  }


  .card-footer {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .badge {
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .card-text {
    text-align: justify;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  @media (max-width: $width_mobile) {
    .container-img {
      height: auto;
    }

    .card-text {
      font-size: 12px;
    }
  }
}

@media (max-width: $width_mobile) {
  .container-content {
    padding:  50px 2px 160px 2px!important
  }
  .project {
    margin-top: 35px;
  }
  .row {
    margin: 5px 0;
  }
}
