@import "../../base";
.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 100px 250px;

    section {
        &:first-child {
            color: #fff;
        }

        height: 100vh;
    }


    h1 {
        font-weight: 700;
        font-size: 80px;
        line-height: 109px;
        margin-top: 30px;
        margin-bottom: 80px;
    }


    @media (max-width: $width_mobile){
        padding: 10px 25px;    


        h1{
            font-size: 32px;
            line-height: unset;
        }

        h3 {
            font-size: 28px;
            line-height: unset;
        }
    }

}