footer {
    height: 80vh;

    .blue {
        height: 50vh;
        width: 100%;
        background: linear-gradient(180deg, #003377 -30.22%, #00FFFF 191.04%);
    }

    .card {
        width: 50%;
        margin-top: -30vh;
        margin-left: 40vw;

        .card-body {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;        

            img {
                margin: 30px;
            }

            .footer-item {
                display: flex;
                align-items: center;
            }
        }
    }
}