$width_mobile: 1080px;
body {
    background: linear-gradient(180deg, #003377 -6.33%, rgba(0, 255, 255, 0.02) 91.52%);
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;

    @media (max-width: $width_mobile){
        .container {
            width: 100%!important;
            padding: 0px!important;
            margin: 0px;
            max-width: unset;
        }
    }

    h3 {
        font-weight: 700;
        font-size: 34px;
        line-height: 46px;
        background: linear-gradient(90deg, #003377 10.26%, #00FFFF 150.13%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}